{% extends 'ParabolAdminCoreBundle::App/base.html.twig' %}

{% block content %}
<div class="row" id="post-{{ post.id }}">
	<div class="col-lg-12">
		<h3><a href="{{ path('app_parabol_admin_core_bundle_post', {'slug' : post.slug }) }}">{{ post.title }}</a></h3>
		<hr />
		<div class="">
			{{ post.lead }}
		</div>	
		<hr />
		<div class="">
			{{ post.content | raw }}
		</div>	
	</div>	
</div>

{% endblock %}