{% extends 'ParabolAdminCoreBundle::App/base.html.twig' %}

{% block titleH1 %}
  <a {{ page.files is not empty and page.files.0.url ? 'href="' ~ page.files.0.url ~ '"' : '' }}   class="col-md-12" style="color: {{ page.files is not empty ? page.files.0.color : page.color }}">
    <h1 class="">{{ page.files is not empty and page.files.0.headline ? page.files.0.headline : page.headline }}</h1>
    <h3>{{ ( page.files is not empty and page.files.0.subheadline ? page.files.0.subheadline : page.subheadline ) | nl2br }}</h3>
  </a>
{% endblock %}

{% block mainPhotoPath %}{{ page.files is not empty ? page.files.0.path : '' }}{% endblock %}

{% block content %}
	<div class="section box-sub-menu header">
	    <div class="container padding-0">
	        <div class="row">
				{% for gallery in galleries %}
					{% for file in gallery.getFiles %}
						{% include 'ParabolAdminCoreBundle:App/Gallery:_item.html.twig' with {file: file} %}
					{% endfor %}	
				{% endfor %}
			</div>
		</div>
	</div>			
{% endblock %}
