{% if menuItems is not empty %}
<div class="section box-sub-menu {{ menu }}">
    <div class="container-fluid padding-0">
        <div class="container padding-0">
            <div class="row">
                {% for item in menuItems %}
                <div class="{{ class ? class : 'col-sm-6 col-md-3' }}">
                    <h2 class="margin-0 table center-text">
                        <a href="{{ (app.environment == 'dev' ? '/app_dev.php' : '') ~ item.url }}" class="table-cell">
                            {% if item.parent %}<small>{{ item.parent.name }}</small>{% endif %}
                            <br/><span class="title">{{ item.name }}</span>
                            {% if item.lead %}<small class="lead">{{ item.lead }}</small>{% endif %}
                        </a>
                    </h2>
                </div>
                {% endfor %}
            </div>
        </div>    
    </div>
</div>
{% endif %}