{% trans_default_domain "Admingenerator" %}

{% block google_location_map_widget %}
    <div class="form-group">
        <div id="map_canvas" style="width:100%; height:460px"></div>
    </div>

{% set prefix = app.request.get('pk') ? 'edit' : 'new' %}  

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

    

   var fields_with_address_parts = "#{{prefix}}_appbundle_location_address, #{{prefix}}_appbundle_location_city"
   var address_parts_pattern = "%{{prefix}}_appbundle_location_address%, %{{prefix}}_appbundle_location_city%"
   var initlatlng = new google.maps.LatLng(0,0);
   var without_marker = false;
   var streetViewControl = false;

    function setCoordinates(latlng)
    {
        $('input#{{prefix}}_appbundle_location_lat').val(latlng.lat());
        $('input#{{prefix}}_appbundle_location_lng').val(latlng.lng());
    }


    var map;
    var geocoder;
    var change = false;
    var marker = null;

    function getAddress()
    {
        var address = address_parts_pattern;
        $(fields_with_address_parts).each(function()
        {
            if($(this).val())
            {
              if($(this).attr('id').substr(-3) == '_id')
              {

                  address = address.replace('%'+$(this).attr('id')+'%', $(this).find('option:selected').html());
              }
              else  address = address.replace('%'+$(this).attr('id')+'%', $(this).val());
            }

        });

        address = address.replace(/%[\w_]+%,*/g, '');

        return address;
    }

    function googlemaps_initialize() {

        var myOptions = {
          zoom: 2,
          center: initlatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          streetViewControl: true
        };
        map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

        google.maps.event.trigger(map, 'resize');
        if(!without_marker)
        { marker = new google.maps.Marker({
            position: initlatlng,
            map: map,
            draggable: true,
            flat: true
          });
          map.setZoom(13);
        }
        var dragEvent = null;
        google.maps.event.addListener(map, 'click', function(event) {
            setNewMarker(event.latLng);
        });

        google.maps.event.trigger(map, 'resize');
      }

    function setNewMarker(pos)
    {

         if(marker){
             if(change) google.maps.event.removeListener(dragEvent);
             marker.setMap(null);
         }

          marker = new google.maps.Marker({
            position: pos,
            map: map,
            draggable: true,
            flat: true
          });
          change = true;

          setCoordinates(pos);

          dragEvent = google.maps.event.addListener(marker, 'mouseup', function() {
                setCoordinates(marker.getPosition());
          });

    }

    function geocode()
    {
          geocoder.geocode( { 'address': getAddress()}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            map.setZoom(13);
            setNewMarker(results[0].geometry.location);
          }});
    }

    $(document).ready(function(){

      googlemaps_initialize();
      geocoder = new google.maps.Geocoder();

      geocode();
      
      $(fields_with_address_parts).change(function(){
            geocode();
      });


    });


</script>

{% endblock google_location_map_widget %}